<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddUser" name="adduser" action="/adduser" method="post">
        <input id="inputUserName" type="text" placeholder="user Name" name="username"/>
        <input id="inputUserEmail" type="text" placeholder="user Email" name="useremail"/>
        <button type="submit" id="btnSubmit">Submit</button>
    </form>
  </body>
</html>
